@media only screen and (max-width: 768px) {
    html, body {
      width: 100%;
    }
  }
  
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b140d; /* Adjust background color as needed */
    color: #fff;
}

header {
    padding: 5px;
    text-align: center;
}

nav {
    background-color: #121e14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #dbd3d3;
}

a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 2px;
    flex: 1; /* Takes up half of the available space */
}

.search-bar input {
    margin: 10px;
    width: 250px; /* Adjust the width as needed */
    padding: 8px; /* Adjust the padding as needed */
}

.search-bar button {
    border-radius: 2px #f1fff4;
    height: 24px; /* Adjust the height as needed */
    padding: 4px 8px; /* Adjust the padding as needed */
}
.search-bar button:hover{
    background-color: #6a6d6c;
    border-radius: 2px #808180;
    height: 24px; /* Adjust the height as needed */
    padding: 4px 8px; /* Adjust the padding as needed */
}

.user-buttons {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

.login-button,
.order-button,
.cart-button {
    border: 3px;
    box-shadow: 1px;
    margin: 0 10px;
    padding: 10px;
}


