.listTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.listTable th, .listTable td {
    border: 1px solid rgb(219, 208, 208);
    padding: 8px;
    text-align: left;
}

.listTable th {
    background-color: #062d00; /* Adjust as needed */
    color: #ffffff;
}

.listTable tr:nth-child(even) {
    background-color: #ffffff; /* Adjust as needed */
   
}