.listTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listTable th,
.listTable td {
    border: 1px solid rgb(219, 208, 208);
    padding: 7px; /* Increase padding for better spacing */
    text-align: left;
}

.listTable th {
    background-color: #315879; /* Darker background color for headers */
    color: #fff;
}

.listTable tr:nth-child(even) {
    background-color: #f2f2f2; /* Slightly darker background for even rows */
}

.listTable tr:hover {
    background-color: #e0e0e0; /* Lighter background on hover for better interactivity */
}
