.product-view-custom {
  margin-top: 50px; /* Adjust margin as needed */
  margin-bottom: 50px; /* Adjust margin as needed */

}

#quantity-custom {
  width: 100px; /* Adjust the width as needed */
}

.box-custom {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-heading-custom {
  text-align: center;
  margin-bottom: 10px;
}

.form-group-custom {
  margin-bottom: 10px;
}

.btn-primary-custom {
  background-color: #007bff;
  border-color: #007bff;
}

/* Reduce space between specific elements */
.box-custom p strong {
  margin-bottom: 5px;
}

.listTable-container-custom {
  display: inline-block;
  text-align: left; /* Reset text-align for inner elements */
  margin: 15px auto; /* Center horizontally */
}

.listTable-custom {
  width: 100%;
  border-collapse: collapse;
  margin-top: 35px;
  margin-bottom: 35px;
}

.listTable-custom th,
.listTable-custom td {
  border: 1px solid rgb(219, 208, 208);
  padding: 7px;
  text-align: left;
}

.listTable-custom th {
  background-color: #315879;
  color: #fff;
}

.listTable-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

.listTable-custom tr:hover {
  background-color: #e0e0e0;
}

.product-view-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product-view-custom:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.image-quantity-box-custom {
  /* Additional styles for the image-quantity box if needed */
}

.details-box-custom {
  /* Additional styles for the details box if needed */
  
}

.btn-danger-custom {
  /* Additional styles for the Remove button if needed */
}

.btn-success-custom {
  /* Additional styles for the Checkout button if needed */
}
.image-quantity-box {
  padding-top: 20px; /* Adjust the top padding as needed */
  
}
.quantity-input {
  margin-right: 10px; /* Adjust the margin as needed */
}
.quantity {
  width: 10px; /* Adjust the width as needed */
}


.update-button {
  margin-left: auto;
}

.listTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table Header Row */
.listTable th {
  background-color: #dde3e9;
  color: #fff;
}

/* Table Header */
.listTable th {
  border: 1px solid #ddd;
  padding: 12px 8px;
  text-align: left;
  font-weight: bold;
  color: #333; /* Default color */
}

/* Table Rows */
.listTable td {
  border: 1px solid #ddd;
  padding: 10px 8px;
}

/* Alternating Row Color */
.listTable tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Background color for even rows */
}

/* Links */
.listTable a {
  text-decoration: none;
  color: #007bff;
}

/* Hover Effect for Links */
.listTable a:hover {
  text-decoration: underline;
}

