
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
                            js/head.js<br>            <script type="text/javascript" src="js/head.js"></script>
                    js/page.js<br>            <script type="text/javascript" src="js/page.js"></script>
                
                            css/page.css<br>            <link rel="stylesheet" href="css/page.css">
                    css/head.css<br>            <link rel="stylesheet" href="css/head.css">
            
</head>
 
<body>
    <!-- <h2>hello</h2> -->
    <div class="header">
    <h1>Header</h1>
</div>
    <div class="content">
        <div class="left">Left</div>
        <div class="middle"><h1>Content</h1></div>
        <div class="right">Right</div>
    </div>
    <div class="footer"><h1>Footer</h1></div>

</body>
</html>
